<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illusion.checkfirm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:name=".CheckFirm"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut"/>
        </activity>
        <activity
            android:label="@string/help"
            android:name="com.illusion.checkfirm.help.HelpActivity" />
        <activity
            android:label="@string/firmware"
            android:name="com.illusion.checkfirm.help.HelpFirmware" />
        <activity
            android:label="@string/function_0"
            android:name="com.illusion.checkfirm.help.HelpFunctions" />
        <activity
            android:label="@string/question_0"
            android:name="com.illusion.checkfirm.help.HelpQuestions" />
        <activity
            android:label="@string/search"
            android:name="com.illusion.checkfirm.help.HelpSearch" />
        <activity
            android:label="@string/search"
            android:name="com.illusion.checkfirm.search.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="search"
                    android:scheme="checkfirm" />
            </intent-filter>
        </activity>
        <activity android:name=".search.TransparentActivity"
            android:theme="@style/TransparentTheme" />
        <activity
            android:label="@string/about"
            android:name="com.illusion.checkfirm.settings.AboutActivity" />
        <activity
            android:label="@string/beta"
            android:name="com.illusion.checkfirm.settings.InfoCatcherActivity" />
        <activity
            android:label="@string/license"
            android:name="com.illusion.checkfirm.settings.LicenseActivity" />
        <activity
            android:label="@string/settings"
            android:name="com.illusion.checkfirm.settings.SettingsActivity" />
        <activity
            android:label="@string/welcome_search"
            android:name="com.illusion.checkfirm.settings.WelcomeSearchActivity" />
		<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/blue"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
		<service
			android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
    </application>
</manifest>